<div class="container-fluid main" >
	<div class="row mainrow ">
		<!-- /sidebar --> 
		<div class="col-sm-3 col-md-3 col-lg-2 sidebar">
			<ul>
				<li style="padding-left: 0px">
					<a ui-sref="service.dashboard"><img src="images/home.png" width="20" height="24" style="padding-bottom: 6px;padding-left: -2px"> &nbsp;主页</a>
				</li>
				<li style="padding-left: 1px"><span class="icon-resource float"></span>资源存储与管理
					<ul class="padding20">
						<li><a ui-sref="service.data_source"> <img src="images/upcoming-work.png" width="20" height="24" style="padding-bottom: 6px"> 数据源管理</a></li>
						<li><a ui-sref="service.data_collect"> <img src="images/publish.png" width="20" height="24" style="padding-bottom: 6px"> 数据采集</a></li>
						<li><a ui-sref="service.data_storage"> <img src="images/database.png" width="20" height="24" style="padding-bottom: 6px"> 数据存储</a></li>
						<li><a ui-sref="service.data_schedule"> <img src="images/calendar.png" width="18" height="24" style="padding-bottom: 6px;padding-left: 1px"> 管理服务</a></li>
					</ul>
				</li>

				<li style="padding-left: 1px"><span class="icon-analysis float"></span> 并行分析与数据挖掘
					<ul class="padding20">
						<li><a ui-sref="service.bd_adapter"> <img src="images/config1.png" width="20" height="24" style="padding-bottom: 6px"> 数据适配</a></li>
						<li><a ui-sref="service.bd_algorithm"> <img src="images/archives.png" width="20" height="24" style="padding-bottom: 6px"> 算法库管理</a></li>
						<li><a ui-sref="service.bd_schedule"> <img src="images/link.png" width="20" height="24" style="padding-bottom: 6px"> 并行调度</a></li>
					</ul>
				</li>

				<li style="padding-left: 1px"><span class="icon-control float"></span>智能运控管理
					<ul class="padding20">
						<li><a ui-sref="service.cloud_platform"> <img src="images/networking.png" width="20" height="24" style="padding-bottom: 6px"> 云平台管控</a></li>
						<li><a ui-sref="service.bigdata_platform"> <img src="images/statistics.png" width="20" height="24" style="padding-bottom: 6px"> 大数据分析平台管控</a></li>
					</ul>
				</li>
				

			</ul>
		</div>
		<!-- /sidebar --> 

		<!-- mainright --> 
		<div ui-view></div>
	</div>    
</div> 
